[submodule "commonItems"]
	path = commonItems
	url = https://github.com/ParadoxGameConverters/commonItems.git
[submodule "imageMagick"]
	path = imageMagick
	url = https://github.com/ParadoxGameConverters/imageMagick
[submodule "Fronter"]
	path = Fronter
	url = https://github.com/ParadoxGameConverters/Fronter
