name: clang-format Check
on: [push, pull_request]
jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path:
          - 'CK3ToEU4/Source'
          - 'CK3ToEU4Tests'
    steps:
    - uses: actions/checkout@v5
    - name: Run clang-format style check for C/C++ programs.
      uses: jidicula/clang-format-action@v4.16.0
      with:
        check-path: ${{ matrix.path }}