name: Build, test and publish 
on: [push, pull_request]

concurrency:
  group: ci-build-${{ github.ref }}-1
  cancel-in-progress: true

jobs:
  build_test_and_publish:
    name: Build, test and publish local
    if: github.repository_owner == 'ParadoxGameConverters'
    runs-on: [self-hosted, windows] 
    
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        submodules: recursive

    - name: "Get previous tag"
      if: ${{ github.event_name == 'push' }}
      id: previoustag
      uses: "WyriHaximus/github-action-get-previous-tag@v1"
       
    - name: "Build solution"
      run: |
       cd "C:\Program Files\Microsoft Visual Studio\2022\Community\MSBuild\Current\Bin\"
       .\MSBuild.exe -m -p:Configuration=Release $Env:GITHUB_WORKSPACE\CK3toEU4.sln
       
    - name: "Run tests"
      run: |
       cd $Env:GITHUB_WORKSPACE\CK3ToEU4Tests\Release\
       .\CK3ToEU4Tests.exe

    - name: "Prepare release"
      if: ${{ github.event_name == 'push' }}
      run: |
        cd "C:\Program Files\7-Zip\"
        .\7z.exe a $Env:GITHUB_WORKSPACE\CK3toEU4-0.12Lollard-win-x64.zip $Env:GITHUB_WORKSPACE\Release\*
        cp $Env:GITHUB_WORKSPACE\CK3toEU4-0.12Lollard-win-x64.zip $Env:GITHUB_WORKSPACE\CK3toEU4-latest-win-x64.zip
       
    - name: "Upload binaries to release"
      if: ${{ github.event_name == 'push' }}
      uses: ncipollo/release-action@v1
      with:
        tag: ${{ steps.previoustag.outputs.tag }}
        allowUpdates: true
        omitBodyDuringUpdate: true
        omitNameDuringUpdate: true
        artifacts: CK3toEU4-0.12Lollard-win-x64.zip
        token: ${{ secrets.API_TOKEN_GITHUB }}
        
    - name: "Upload binaries to archive"
      if: ${{ github.event_name == 'push' }}
      uses: ncipollo/release-action@v1
      with:
        tag: windows_development_build
        allowUpdates: true
        omitBodyDuringUpdate: true
        omitNameDuringUpdate: true
        artifacts: CK3toEU4-0.12Lollard-win-x64.zip, CK3toEU4-latest-win-x64.zip
        token: ${{ secrets.API_TOKEN_GITHUB }}
        
    - name: "Cleanup"
      if: always()
      run: |
        Get-ChildItem -Path $Env:GITHUB_WORKSPACE -Recurse -Force | Remove-Item -force -recurse
 
  build_test:
    name: Build and test foreign
    if: github.repository_owner != 'ParadoxGameConverters'
    runs-on: windows-2022
    
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        submodules: recursive
        
    - name: "Build solution"
      run: |
       cd "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\MSBuild\Current\Bin\"
       .\MSBuild.exe -m -p:Configuration=Release $Env:GITHUB_WORKSPACE\CK3toEU4.sln
       
    - name: "Run tests"
      run: |
       cd $Env:GITHUB_WORKSPACE\CK3ToEU4Tests\Release
       .\CK3ToEU4Tests.exe
